@import '../../styles/variables.scss';

.menu {
  height: calc(100vh - 161px);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $soft-bg $main-bg;

  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
    }

    .list-item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background-color: $soft-bg;
      }
    }
  }
}
